<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SN_BalanceScoreCard</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SN_BalanceScoreCard</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-03bf855dd6f443dd81eeb2443b0fcc61.png" alt="SN_BalanceScoreCard" usemap="#id-03bf855dd6f443dd81eeb2443b0fcc61map"/>
			   <map name="id-03bf855dd6f443dd81eeb2443b0fcc61map">
				  				<area shape="rect" coords="598,742,755,839" href="../elements/id-b73b80d0cf3348aea49563c5b1d6e472.html"  target="element">
				  				<area shape="rect" coords="418,742,575,839" href="../elements/id-2a4f888609834037a610f75fa03d1420.html"  target="element">
				  				<area shape="rect" coords="238,742,395,839" href="../elements/id-b206574d9d7a4831a22ff0cf75f1926c.html"  target="element">
				  				<area shape="rect" coords="58,742,215,839" href="../elements/id-1c0ee0d1d4ea48698ebabd63109b5bad.html"  target="element">

				  		<area shape="rect" coords="10,706,827,863" href="../elements/id-6599b381289d4227a24a95448a761b68.html"  target="element">
				  				<area shape="rect" coords="634,562,803,659" href="../elements/id-8e7a59b42a58460cbd1f9bb3a59c6f67.html"  target="element">
				  				<area shape="rect" coords="430,562,599,659" href="../elements/id-9414d197e5134c579a07b12ff98cdfb5.html"  target="element">
				  				<area shape="rect" coords="238,562,407,659" href="../elements/id-c6f04ebbe7744172a8c1733996f0d5a7.html"  target="element">
				  				<area shape="rect" coords="46,562,215,659" href="../elements/id-e3c99895d6854164b72fc91ab6ec602b.html"  target="element">

				  		<area shape="rect" coords="10,526,827,683" href="../elements/id-a5197f06f6b043288f01c12064685a1f.html"  target="element">
				  				<area shape="rect" coords="634,394,803,491" href="../elements/id-806e546ce14044eab9c6b92d2412e9f0.html"  target="element">
				  				<area shape="rect" coords="430,394,599,491" href="../elements/id-aa49c1517fae424d9bf143e5a461804d.html"  target="element">
				  				<area shape="rect" coords="226,394,395,491" href="../elements/id-b6adb6137c7e4f349b5c6c1b1f343696.html"  target="element">
				  				<area shape="rect" coords="22,394,191,491" href="../elements/id-66c5e8665a0940b88fc1692ea31ffbf1.html"  target="element">

				  		<area shape="rect" coords="10,358,827,515" href="../elements/id-134c1ac3f1394ce8be63cfa2f77c9d33.html"  target="element">
				          <area shape="rect" coords="10,10,827,179" href="../objects/id-be91bea7e23d42f895364260b0316f39.html" target="element" >
				  				<area shape="rect" coords="634,220,803,317" href="../elements/id-f7241a22203a41869565a81f69e4a9f7.html"  target="element">
				  				<area shape="rect" coords="226,220,395,317" href="../elements/id-661a1c3ac6564da897cd91aadba18926.html"  target="element">
				  				<area shape="rect" coords="22,220,191,317" href="../elements/id-6fef8e6e1ed6422798b693d1b91016f1.html"  target="element">
				  				<area shape="rect" coords="430,220,599,317" href="../elements/id-e6209f93da0243c18c7d877a842894c4.html"  target="element">

				  		<area shape="rect" coords="10,190,827,347" href="../elements/id-d82dcafe1d964744909463e85110bb62.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d82dcafe1d964744909463e85110bb62.html" target="element"> Financial </a> </td>
											    <td> <a href="../elements/id-d82dcafe1d964744909463e85110bb62.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e6209f93da0243c18c7d877a842894c4.html" target="element"> Sustainability-driven product offerings </a> </td>
													    <td> <a href="../elements/id-e6209f93da0243c18c7d877a842894c4.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6fef8e6e1ed6422798b693d1b91016f1.html" target="element"> Revenue growth - sustainability-driven product offerings. </a> </td>
													    <td> <a href="../elements/id-6fef8e6e1ed6422798b693d1b91016f1.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-661a1c3ac6564da897cd91aadba18926.html" target="element"> Improve Cost Management </a> </td>
													    <td> <a href="../elements/id-661a1c3ac6564da897cd91aadba18926.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7241a22203a41869565a81f69e4a9f7.html" target="element"> Cloud Efficiency - Reduce Energy Consumtion </a> </td>
													    <td> <a href="../elements/id-f7241a22203a41869565a81f69e4a9f7.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-be91bea7e23d42f895364260b0316f39.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-be91bea7e23d42f895364260b0316f39.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-134c1ac3f1394ce8be63cfa2f77c9d33.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/id-134c1ac3f1394ce8be63cfa2f77c9d33.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-66c5e8665a0940b88fc1692ea31ffbf1.html" target="element"> Build Customer Trust </a> </td>
													    <td> <a href="../elements/id-66c5e8665a0940b88fc1692ea31ffbf1.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b6adb6137c7e4f349b5c6c1b1f343696.html" target="element"> Brand reputation as a leader in sustainable technology </a> </td>
													    <td> <a href="../elements/id-b6adb6137c7e4f349b5c6c1b1f343696.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa49c1517fae424d9bf143e5a461804d.html" target="element"> Offer environmentally friendly products and services </a> </td>
													    <td> <a href="../elements/id-aa49c1517fae424d9bf143e5a461804d.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-806e546ce14044eab9c6b92d2412e9f0.html" target="element"> Target sustainability-conscious clients and partners </a> </td>
													    <td> <a href="../elements/id-806e546ce14044eab9c6b92d2412e9f0.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a5197f06f6b043288f01c12064685a1f.html" target="element"> Internal Processes </a> </td>
											    <td> <a href="../elements/id-a5197f06f6b043288f01c12064685a1f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e3c99895d6854164b72fc91ab6ec602b.html" target="element"> Ensure compliance with global sustainability standards </a> </td>
													    <td> <a href="../elements/id-e3c99895d6854164b72fc91ab6ec602b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c6f04ebbe7744172a8c1733996f0d5a7.html" target="element"> Customer-Centric Innovation  </a> </td>
													    <td> <a href="../elements/id-c6f04ebbe7744172a8c1733996f0d5a7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9414d197e5134c579a07b12ff98cdfb5.html" target="element"> Waste reduction and Energy Efficiency </a> </td>
													    <td> <a href="../elements/id-9414d197e5134c579a07b12ff98cdfb5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e7a59b42a58460cbd1f9bb3a59c6f67.html" target="element"> Service Quality Monitoring and Feedback Loop </a> </td>
													    <td> <a href="../elements/id-8e7a59b42a58460cbd1f9bb3a59c6f67.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6599b381289d4227a24a95448a761b68.html" target="element"> Learning and Growth </a> </td>
											    <td> <a href="../elements/id-6599b381289d4227a24a95448a761b68.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1c0ee0d1d4ea48698ebabd63109b5bad.html" target="element"> Create culture of sustainability-focused Innovation </a> </td>
													    <td> <a href="../elements/id-1c0ee0d1d4ea48698ebabd63109b5bad.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b206574d9d7a4831a22ff0cf75f1926c.html" target="element"> Employee sustainability engagement </a> </td>
													    <td> <a href="../elements/id-b206574d9d7a4831a22ff0cf75f1926c.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a4f888609834037a610f75fa03d1420.html" target="element"> Develop IT tools to enhance sustainability effors </a> </td>
													    <td> <a href="../elements/id-2a4f888609834037a610f75fa03d1420.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b73b80d0cf3348aea49563c5b1d6e472.html" target="element"> ESG Skills Trainings </a> </td>
													    <td> <a href="../elements/id-b73b80d0cf3348aea49563c5b1d6e472.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d3ee552ffd334732aeb189829becf163.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3ee552ffd334732aeb189829becf163.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d82dcafe1d964744909463e85110bb62.html" target="element"> Financial </a> </td>
																		<td> <a href="../elements/id-e6209f93da0243c18c7d877a842894c4.html" target="element"> Sustainability-driven product offerings </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ea8ff3b355744109bb5383dd55e7aa1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ea8ff3b355744109bb5383dd55e7aa1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d82dcafe1d964744909463e85110bb62.html" target="element"> Financial </a> </td>
																		<td> <a href="../elements/id-6fef8e6e1ed6422798b693d1b91016f1.html" target="element"> Revenue growth - sustainability-driven product offerings. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c417fe4d5ad54eca9a8ca7c9622e2cac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c417fe4d5ad54eca9a8ca7c9622e2cac.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d82dcafe1d964744909463e85110bb62.html" target="element"> Financial </a> </td>
																		<td> <a href="../elements/id-661a1c3ac6564da897cd91aadba18926.html" target="element"> Improve Cost Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-423d3c530546448e9c22ec7312002f8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-423d3c530546448e9c22ec7312002f8b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d82dcafe1d964744909463e85110bb62.html" target="element"> Financial </a> </td>
																		<td> <a href="../elements/id-f7241a22203a41869565a81f69e4a9f7.html" target="element"> Cloud Efficiency - Reduce Energy Consumtion </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-672128d69b7d47e086e5355c5cf58448.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-672128d69b7d47e086e5355c5cf58448.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-134c1ac3f1394ce8be63cfa2f77c9d33.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/id-66c5e8665a0940b88fc1692ea31ffbf1.html" target="element"> Build Customer Trust </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13eaf4e7c02641b9aab69b4b4f4fb8e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13eaf4e7c02641b9aab69b4b4f4fb8e4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-134c1ac3f1394ce8be63cfa2f77c9d33.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/id-b6adb6137c7e4f349b5c6c1b1f343696.html" target="element"> Brand reputation as a leader in sustainable technology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f945fbe792f42829608f87501cfaf6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f945fbe792f42829608f87501cfaf6a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-134c1ac3f1394ce8be63cfa2f77c9d33.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/id-aa49c1517fae424d9bf143e5a461804d.html" target="element"> Offer environmentally friendly products and services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae70b67260d74029a52803cbb8a1c3c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae70b67260d74029a52803cbb8a1c3c8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-134c1ac3f1394ce8be63cfa2f77c9d33.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/id-806e546ce14044eab9c6b92d2412e9f0.html" target="element"> Target sustainability-conscious clients and partners </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4f9cc6fdc3534a6fb9e94517b8b4f46e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f9cc6fdc3534a6fb9e94517b8b4f46e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5197f06f6b043288f01c12064685a1f.html" target="element"> Internal Processes </a> </td>
																		<td> <a href="../elements/id-e3c99895d6854164b72fc91ab6ec602b.html" target="element"> Ensure compliance with global sustainability standards </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca3d8034266646c2b6ac82f4561b3cda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca3d8034266646c2b6ac82f4561b3cda.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5197f06f6b043288f01c12064685a1f.html" target="element"> Internal Processes </a> </td>
																		<td> <a href="../elements/id-c6f04ebbe7744172a8c1733996f0d5a7.html" target="element"> Customer-Centric Innovation  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-04d139bc98904b3bb93666f5e403f933.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04d139bc98904b3bb93666f5e403f933.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5197f06f6b043288f01c12064685a1f.html" target="element"> Internal Processes </a> </td>
																		<td> <a href="../elements/id-9414d197e5134c579a07b12ff98cdfb5.html" target="element"> Waste reduction and Energy Efficiency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6feae0c6b69e44deb329ff62a4792fae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6feae0c6b69e44deb329ff62a4792fae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5197f06f6b043288f01c12064685a1f.html" target="element"> Internal Processes </a> </td>
																		<td> <a href="../elements/id-8e7a59b42a58460cbd1f9bb3a59c6f67.html" target="element"> Service Quality Monitoring and Feedback Loop </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6f73ca96db0443d496707fd6818899d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f73ca96db0443d496707fd6818899d4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6599b381289d4227a24a95448a761b68.html" target="element"> Learning and Growth </a> </td>
																		<td> <a href="../elements/id-1c0ee0d1d4ea48698ebabd63109b5bad.html" target="element"> Create culture of sustainability-focused Innovation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c5d4241ed07445cafe5b9cffa514741.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c5d4241ed07445cafe5b9cffa514741.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6599b381289d4227a24a95448a761b68.html" target="element"> Learning and Growth </a> </td>
																		<td> <a href="../elements/id-b206574d9d7a4831a22ff0cf75f1926c.html" target="element"> Employee sustainability engagement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e441aefb7f440c193973d480aab90a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e441aefb7f440c193973d480aab90a9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6599b381289d4227a24a95448a761b68.html" target="element"> Learning and Growth </a> </td>
																		<td> <a href="../elements/id-b73b80d0cf3348aea49563c5b1d6e472.html" target="element"> ESG Skills Trainings </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6bc6f670f7b4465cac43a8bc147d3927.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6bc6f670f7b4465cac43a8bc147d3927.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6599b381289d4227a24a95448a761b68.html" target="element"> Learning and Growth </a> </td>
																		<td> <a href="../elements/id-2a4f888609834037a610f75fa03d1420.html" target="element"> Develop IT tools to enhance sustainability effors </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>